/*$red: #FD1015;
$dark-red: #931F1D;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-white: #fcfdff;
*/
body {
font-family: "Raleway", sans-serif;
background-color: white;
margin: 0;
}
a {
color: #0E0000;
text-decoration: none;
}
a:hover {
text-decoration: none;
transition-duration: 0.3s
}
h3 {
  font-size: 50px;
  text-align: center;
  color: #0E0000;
  font-weight: 400;
  margin: 10px;
}
/*début copié collé*/
.navbar {
  height: 50px;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background-color: #B3BDC3;
  box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
  opacity: 0.9;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/*.navbar p{

}*/
.menu-bundler {
  width: 1200px;
  display: flex;
  justify-content: space-around;
}
.menu-bundler a {
  width: 25%;
  text-align: center;
}
.menu-bundler a:hover {
  background-color: #F4F4F4;
  transition: 0.5s;
}
/*début banner*/
.banner {
color: white;
text-align: center;
height: 50vh;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}
.banner h1 {
font-size: 35px;
text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
font-weight: 500;
}
.banner p {
font-size: 20px;
font-weight: 300;
color: rgb(255, 255, 255);
opacity: 1;
margin-bottom: 15px;
}
/*fin banner*/
/*CONTENT*/
.my-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 0 40px;
margin-top: 20px;
}
.prez {
  background-color: #F4F4F4;
}
.prez h3 {
  padding-top: 50px;
}
.spe {
  background-color: #B3BDC3;
  padding-top: 50px;
}
.spe h3 {
  color: white;
}
@media(max-width: 768px) {
  .my-container {
    padding: 0;
  }
  .carte {
    width: 375px;
  }
  .horaires {
    margin: 0 !important;
    padding: 0 0 0 15px !important;
  }

}
.article {
width: 600px;
box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
border-radius: 3px;
text-align: center;
margin: 10px;
}
.article:hover{
box-shadow: 0px 10px 30px #cecece;
transition: box-shadow 0.25s;
}
.illustration {
height: 200px;
border-radius: 3px;
background-size: cover;
}
.illustration h3 {
color: white;
padding-top: 90px;
font-weight: 400;
font-size: 30px;
}
.contenu {
padding: 10px;
background-color: #fcfdff;
}
/*fin CONTENT*/
/*MAP*/
#accès {
  background-color: #F4F4F4;
  padding-top: 50px;
  margin-top: 10px;
}
.map {
text-align: center;
padding-bottom: 20px;
}
.map h3 {
padding-bottom: 10px;
font-size: 50px;
}
.map-bundler {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.carte {
  width: 375px;
}
.horaires {
  background-color: white;
  margin-left: 15px;
  padding: 15px;
  width: 360px;
}
.horaires h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
/*contacts*/
.foot-bundler {
padding-top: 10px;
display: flex;
justify-content: center;
}
.contacts {
text-align: center;
width: 100%;
background-color: #B3BDC3;
padding: 50px 0;
}
.contacts h3 {
  color: white;
}
.contact-container {
display: flex;
justify-content: center;
margin: 15px 0;
}
.bundler p {
  margin: 10px 0;
}
 .bundler a {
font-size: 25px;
}
.bundler a:hover {
color: black;
}
/*footer*/
/*fin copié collé*/
/**/
/**/
/**/
/**/
/*SHOW*/
.show-banner {
color: white;
text-align: center;
height: 100vh;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}
.show-banner h1 {
font-size: 40px;
text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
font-weight: 500;
padding: 30px;
}
.show-banner p {
font-size: 25px;
font-weight: 400;
color: rgb(255, 255, 255);
opacity: 1;
margin-bottom: 30px;
}

.show-card {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  border: 1px solid grey;
  flex-wrap: wrap;
}

.show-illustration {
  height: 667px;
  width: 375px;
  background-color: grey;
}
.show-text {
  background-color: red;
  width: 800px;
}

/**/
.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photo {
  background-image: url("images/plan.jpg");
  background-size: cover;
  width: 1200px;
  height: 730px;
}
